<h1>data page </h1>
<div dir="rtl">

  <form action="{% url 'course:search' %}">
    <span>نام دوره </span>
    <input type="text" name="Text-search" value="search field is CourseName"/>
    <input type="submit" value="Search"/>
  </form>

  <br/>



  <br/>
  <table border="1">
    <tr>
      <th>کد دوره</th>
      <th>نام دوره</th>
      <th>توضیحات</th>
      <th>لوگوی دوره</th>
      <th>سرفصل دوره</th>
      <th>هزینه</th>
      <th>نوع دوره</th>
    </tr>

  {% for item in data %}

    <tr>
      <td>{{item.code_name}}</td>
      <td>{{item.nam}}</td>
      <td>{{item.disc}}</td>
      <td><a href="{{item.pic.url}}">{{item.pic.url}}</a></td>
      <td><a href="{{item.season.url}}">{{item.season.url}}</a></td>
      <td>{{item.cost}}</td>
      <td>{{item.namecourse}}</td>
    </tr>
  {% endfor %}


  <br/>

  </table>
  <br/>
  <form action="{% url 'course:add' %}">
    <input type="submit" value="create"/>
  <form>


</div>
