<h1>search page </h1>
<head>
  <style>
    .search-input{
                 display:none;
                 }
  </style>
</head>
<h2>{{text}}</h2>



</form>

<form action="{% url 'course:data' %}">
  {% for i in search %}
    <input type="text" value="{{i.nam}}" class="search-input"  name="delete-Text"/>
  {% endfor %}
  <input type="submit" value="Delete Data"/>
  <br/>
  ..............................
</form>

<form action="{% url 'course:edit' %}">
    {% for j in search %}
       <input type="text" value="{{j.nam}}" class="search-input" name="edit-data"/>
    {% endfor %}
    <hr/>
    <input type="text" value="update ..."name="Update-Text"/>
    <br/>
    <input type="submit" value="Update"/>

</form>





<table border="1">
  {% for item in search %}

    <tr>

          <td>{{item.code_name}}</td>
          <td>{{item.nam}}</td>
          <td>{{item.disc}}</td>
          <td><a href="{{item.pic.url}}">{{item.pic.url}}</a></td>
          <td><a href="{{item.season.url}}">{{item.season.url}}</a></td>
          <td>{{item.cost}}</td>
          <td>{{item.namecourse}}</td>

    </tr>
  {% endfor %}
</table>
